@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bg-list-alumni {
  background-color: #2f7d4e;
  color: white;
  border-radius: 50px;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  animation: fadeIn 1s ease-in-out;
  position: relative;
  margin-top: -680px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bg-list-alumni h1 {
  color: white;
  font-size: 24px;
  margin: 0;
  animation: fadeIn 1s ease-in-out 0.5s;
  animation-fill-mode: both;
}
.button {
  background-color: #d4a017;
  color: white;
  border: none;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  animation: fadeIn 1s ease-in-out 1s;
  animation-fill-mode: both;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #b38e10;
}
@media (max-width: 768px) {
  .bg-list-alumni {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    align-items: center;
    flex-direction: column;
    margin-top: -1100px;
  }
  .bg-list-alumni h1 {
    margin-bottom: 20px;
  }
  .button {
    margin: 10px 0;
  }
}
