body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}
.container6 {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.bg-galeri-home {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: start;
  color: #444;
}
.show-all {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.show-all button {
  background-color: #ffc107;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}
.show-all button:hover {
  background-color: #e0a800;
}
.show-all button i {
  margin-left: 10px;
}
.card-container {
  display: flex;
  overflow: hidden;
  position: relative;
}
.card-wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 180px;
  text-align: center;
  margin: 0 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.card img {
  width: 100%;
  height: auto;
}
.card .name {
  background-color: #28a745;
  color: white;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.navigation button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .card {
    width: 100%;
  }
}
