/* halaman prakata */

.shape-prakata {
  position: relative;
  width: 100%;
  margin-top: 530px;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 30%, 0 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: #d4b82b;
}
.bg-prakata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f7650;
  position: relative;
  margin-top: -40px;
  padding: 40px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.text-prakata {
  color: white;
  max-width: 60%;
}
.text-prakata h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}
.text-prakata p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.6;
}
.button-prakata {
  background-color: #d4b82b;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.button-prakata i {
  margin-left: 8px;
}
.button-prakata:hover {
  background-color: #45a049;
}
.logo {
  max-width: 150px;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .shape-prakata {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    flex-direction: column;
    margin-top: 950px;
  }
  .bg-prakata {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    flex-direction: column;
    text-align: center;
    margin-top: -80px;
  }
  .text-prakata {
    max-width: 100%;
  }
  .logo {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .shape-prakata {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    flex-direction: column;
    margin-top: 990px;
  }
  .bg-prakata {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    flex-direction: column;
    text-align: center;
    margin-top: -80px;
  }
  .text-prakata {
    max-width: 100%;
  }
  .logo {
    margin-top: 20px;
  }
}

@media (max-width: 360px) {
  .shape-prakata {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    flex-direction: column;
    margin-top: 1000px;
  }
  .bg-prakata {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: -80px;
  }
  .text-prakata {
    max-width: 100%;
  }
  .logo {
    margin-top: 20px;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
