body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}
.footer {
  background-color: #d4b02b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: -450px;
}
.contact-info {
  display: flex;
  align-items: center;
  font-size: 1.1em;
}
.contact-info i {
  margin-right: 10px;
}
.contact-info span {
  margin-right: 20px;
}
.social-media {
  display: flex;
  align-items: center;
}
.social-media span {
  margin-right: 15px;
  font-size: 1.1em;
  font-weight: bold;
}
.social-media a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}
.social-media a i {
  background-color: #2e7d32;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2em;
}
.social-media a:hover {
  transform: scale(1.1);
}
.pembatas-contact {
  height: 50px;
  width: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    object-fit: cover;
    object-position: center;
    text-align: center;
    margin-top: -390px;
  }
  .contact-info,
  .social-media {
    margin: 10px 0;
  }
  .pembatas-contact {
    height: 2px;
    width: 80%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    object-fit: cover;
    object-position: center;
    text-align: center;
    margin-top: -350px;
  }
  .contact-info,
  .social-media {
    margin: 10px 0;
  }
  .pembatas-contact {
    height: 2px;
    width: 80%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
}

@media (max-width: 360px) {
  .footer {
    flex-direction: column;
    object-fit: cover;
    object-position: center;
    text-align: center;
    margin-top: -520px;
  }
  .contact-info,
  .social-media {
    margin: 6px 0;
  }

  .pembatas-contact {
    height: 2px;
    width: 80%;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }
}
