* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
}

/* CSS LOGO */
.header {
  display: flex;
  align-items: center;
  padding: 1px 15px 1px;
  background-color: white;
}

.logo {
  padding-left: 2%;
  display: flex;
  align-items: center;
  width: 25%;
  height: 25%;
}

.logo-text {
  margin-left: 10px;
  border-left: 2px solid #e6007e;
  padding-left: 10px;
}
.logo-text h1 {
  margin: 0;
  font-size: 16px;
  color: #003366;
}
.logo-text h2 {
  margin: 0;
  font-size: 14px;
  color: #003366;
  letter-spacing: 2px;
}
section {
  padding: 50px 0;
}

.logo img {
  max-width: 100px;
  height: 75px;
  padding-top: 10px 1;
  margin-bottom: 10px 1;
}

/* Menu Icon */
.medsos {
  padding: 5px 0;
  background-color: #4caf50;
}

.medsos ul li {
  display: inline-block;
  color: #fff;
  margin-right: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header h1 {
  float: right;
  padding: 15px 0;
  color: #4caf50;
}

header ul {
  float: left;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 25px 20px;
  display: inline-block;
}

header ul li a:hover {
  background-color: #4caf50;
  color: #fff;
}

.active {
  background-color: #4caf50;
  color: #fff;
}

section {
  padding: 50px 0;
}

section h3 {
  text-align: center;
  padding: 20px 0;
  color: #4caf50;
}

.about {
  color: #666;
  word-spacing: 2px;
}

/* contact-section */
.shapecontact {
  background-color: #d4b82b;
  position: relative;
  margin-top: -420px;
  border-radius: 20px;
  padding: 25px 20px;
  max-width: 90%;
  left: 4.5%;
  align-items: center;
}

.shape-contact-text i {
  font-family: "Montserrat" Impact, Haettenschweiler, "Bold", sans-serif;
  margin-right: 5px;
  font-size: 120%;
  position: relative;
  margin-top: 20px;
}

.shape-contact-text {
}

.pembatas {
  height: 50px;
  width: 2px;
  background-color: black;
  position: relative;
  left: 50%;
  margin-top: -45px;
  transform: translateX(-50%);
}

.TextSMK-Contact h5 {
  font-size: 30px;
  color: #f4f4f4;
}

section {
  padding: 50px 0;
}

section h4 {
  text-align: left;
  padding: 20px 0;
  color: #1f7650;
}

.contact {
  padding: 10rem 1% 1rem;
  position: relative;
  margin-top: 50px;
  background-color: #1f7650;
}

.contact-location {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  gap: 5rem;
}

.contact-location h4 {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.location-text h4 {
  font-size: 24px;
  position: relative;
  margin-top: -90px;
}

.contact .location iframe {
}

.social-icon i {
  background-color: rgb(255, 102, 0);
  color: #fff;
  margin-right: 10px;
  font-size: 25px;
  transition: all 0.42s;
}

.social-icon i:hover {
  transform: scale(1.3);
}

/* Responsive-css */
@media (max-width: 890px) {
  header {
    padding: 1px;
    transition: 0.4s;
  }
}

@media (max-width: 630px) {
  .shapecontact {
    flex-wrap: wrap;
    padding: 1.4rem 7%;
    margin-top: -460px;
    flex-direction: column;
  }

  .shape-contact-text {
    flex-direction: row;
  }
  .location-text {
    flex-wrap: wrap;
    position: relative;
    margin-top: 20px;
  }
  .contact .location iframe {
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    margin-top: -10px;
  }

  .about1 .container2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .contact .contact-info .location {
    object-fit: cover;
    object-position: center;
  }

  .about1 .container2 {
    flex-wrap: wrap;
  }
}

/* CSS list Alumni */
.container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header1 {
  background-color: #195747;
  color: white;
  padding: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 12px;
  text-align: left;
}
th {
  background-color: #195747;
  color: white;
  position: sticky;
  top: 0;
}
th.sortable:hover {
  cursor: pointer;
  background-color: #1e6654;
}
th.sortable i {
  transition: transform 0.3s ease;
}
th.sortable.asc i {
  transform: rotate(180deg);
}
th.sortable.desc i {
  transform: rotate(0deg);
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.pagination span {
  font-size: 14px;
  text-align: center;
  flex: 1;
}
.pagination a {
  text-decoration: none;
  color: white;
  background-color: #195747;
  margin: 0 5px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.pagination a:hover {
  background-color: #1e6654;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.search-container input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #195747;
  border-radius: 4px;
  width: 200px;
  transition: border-color 0.3s;
}
.search-container input:focus {
  outline: none;
  border-color: #1e6654;
}
.entries-container {
  display: flex;
  align-items: center;
}
.entries-container select {
  margin: 0 5px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #195747;
  border-radius: 4px;
  transition: border-color 0.3s;
}
.entries-container select:focus {
  outline: none;
  border-color: #1e6654;
}
@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .entries-container {
    margin-bottom: 10px;
  }
  .pagination {
    flex-direction: row;
    align-items: center;
  }
  .pagination div {
    margin-top: 10px;
  }
  .pagination span {
    order: -1;
    margin-bottom: 10px;
  }
}
